body{
    background-color: #6AC1D5 !important;
}

.navbar-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-items .navbar-brand{
    text-decoration: none;
    color: black;
}
.navbar-brand svg{
    width: 25px;
    height: 25px;
}
.search-bar {
    width: 500px !important;
}

.navbar-brand .down{
    width: 15px;
    height: 15px;
}
.container{
    width: 100%;
    height: 120vh;
    background-color: transparent;

}
.row-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}
#col1 {
    background-color: rgb(255, 255, 255);

}
.col-7{

    background-color: chartreuse;

}
.col-7 img{
    width: 100%;
    height: 60vh;
}
.col-2, .col-7{
    height: 60vh;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.col-2 ul li a,.col-2 ul li{
    text-decoration: none;
    list-style: none;
    color: black;
    display: flex;

}
#col3{

    height: 100%;
    background-color: transparent ;
    margin: 0;
}
.col-6{
    background-color: rgba(255, 255, 255, 0.514);
    height: 28vh;
    width: 90% !important;
    margin: 10px !important;
    border-radius: 10px;
}

#row2{
    background-color: rgba(52, 86, 238, 0);
    height: 50vh;
    width: 100%;
    border-radius: 10px;
    margin-left: 1px;
    display: flex;
    flex-direction: row;
}
.col-3 {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    width: 24% !important;
    height: 98%;
    border-radius: 10px;
}
.small-container h4{
    text-align: center;
    font-size: 30px;
}
.col-3 img{
    width: 90%;
    height: 70%;
}
.col-3 p,.col-3 img,.col-3 h5,.col-3 h6{
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 0 !important;
}


.col-3:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #888888c5;
    margin-top: 6px;
    margin-left: 6px;  
}



